@use 'global'

div.campo
    height: 40px
    box-sizing: border-box
    position: relative
    font-size: 16px
    background-color: white

    input
        --contorno: black

        background-color: inherit
        width: 100%
        height: 100%
        border-radius: 8px
        box-sizing: border-box
        padding: 10px
        font-size: 16px
        border: 1px solid var(--contorno)

        transition: box-shadow 200ms linear, border-color 200ms linear

        &:invalid
            --contorno: crimson

        &:focus
            box-shadow: inset 0px -3px 0px 0px var(--contorno)
            outline: none
        
        &:disabled
            background-color: #eee
            color: #777
            cursor: not-allowed
            border: 1px solid #999

    label
        padding: 0 5px
        position: absolute
        top: -10px
        left: 5px
        background-color: inherit

select
    border: 1px solid black
    border-radius: global.$raio
    background-color: #ddd
    height: 40px
    font-size: global.$fonte-sm
    padding: 5px

.imagem-input
    @extend %centro
    border: 1px solid black
    border-radius: global.$raio
    height: 160px
    width: 160px
    cursor: pointer
    overflow: hidden
    position: relative
    
    img
        position: absolute
        @extend %centro
        width: 100%
        height: 100%
        object-fit: cover

input[type=file]
    display: none