@use "global"
@use "input"
@use "base" 

main
    display: flex
    flex-direction: column
    grid-template-rows: 40px auto 1fr
    gap: 30px

#filtros
    height: min-content
    display: flex
    flex-flow: row wrap
    gap: 10px

    & > .campo, & > select
        width: 200px

#botoes
    display: flex
    gap: 10px
    width: 100%

#preco
    position: relative

    span
        position: absolute
        height: 100%
        padding: 0 10px
        display: flex
        align-items: center
        color: #666
    
    input
        padding: 10px 10px 10px 35px

#pecas
    display: flex
    flex-flow: row wrap
    gap: 20px
    justify-content: center