@use "global"
@use "base"
@use "input"

form
    width: 750px
    margin: 0 auto
    height: auto
    display: flex
    flex-direction: column
    background-color: white
    border-radius: 10px
    padding: 20px 40px 30px 40px
    gap: 20px

h1
    text-align: center

#horario
    height: 150px

    & > textarea
        height: 100%
        width: 100%
        resize: vertical

.botao
    width: 200px

#botoes
    display: flex
    gap: 20px
    justify-content: center

#deletar
    background-color: global.$cor-vermelho

@media (max-width: 800px)
    main
        padding: 0
        
    form.box
        border: none
        border-radius: 0
        width: 100%
    
    #botoes
        flex-direction: column
    
    .botao
        width: 100%