@use "input"

.endereco
    display: flex
    flex-direction: column
    gap: 20px

    & > div
        gap: 10px
        display: grid

.endereco-1
    grid-template-columns: 2fr 4fr 1fr

.endereco-2
    grid-template-columns: 6fr 1fr

.endereco-3
    grid-template-columns: 4fr 2fr
