@use "global"

header
    background-color: global.$cor-primaria
    padding: 0 200px
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: 75px

    #logo
        height: 40px
        display: flex
        align-items: center
        gap: 10px
        color: white

        img 
            width: auto
            height: 100%
        
        h1
            font-weight: 300

#usuario
    display: flex
    gap: 10px
    align-items: center

    div
        display: flex
        flex-direction: column
        align-items: end

    a
        color: white

    h2
        margin: 0
        font-weight: 400

    img
        width: 50px
        height: 50px
        object-fit: cover
        border-radius: 50%