@use "global"

.peca
    width: 300px
    display: flex
    flex-direction: column
    text-align: center
    overflow: hidden

    h3
        color: black
        margin-top: 0
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        font-size: 20px
        font-weight: 500

    .dados
        display: flex
        flex-direction: column
        border-top: 1px solid #999
        padding: 10px
        color: #666

    img
        object-fit: cover
        width: 100%
        min-height: 250px
        max-height: 250px

    .preco
        padding: 5px
        font-weight: bold
        font-size: 22px
        color: white
        background-color: #666
    
    &.doacao
        .preco
            background-color: global.$cor-primaria