@use "global"
@use "base"
@use "input"

main
    display: grid
    grid-template-columns: 300px auto
    grid-template-rows: min-content auto
    gap: 20px
    max-width: 100%

#dados
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    padding: 20px

    #logo
        width: 250px
        height: 250px
        border-radius: 10px
        object-fit: cover
        border: 1px solid #999
        border-radius: 10px
        margin: 20px 0

#pecas
    grid-column: span 2
    display: grid
    grid-template-rows: min-content auto
    gap: 20px
    padding: 20px

.controles
    display: flex
    flex-direction: column
    align-items: center
    gap: 10px

    .botao
        width: 200px

#lista-pecas
    display: flex
    gap: 20px
    justify-content: center
    flex-flow: row wrap

#pontos-coleta
    display: grid
    grid-template-columns: 1fr 1fr
    padding: 20px
    gap: 20px

    iframe
        border-radius: 8px
        overflow: hidden

#pontos-lista
    display: flex
    flex-direction: column
    align-items: center
    gap: 10px
    
    & > .botao
        margin-bottom: 10px

.endereco
    --borda: #999

    cursor: pointer
    position: relative
    border-radius: 8px
    display: grid
    grid-template-columns: 80px auto auto
    gap: 10px
    width: 100%
    background-color: #eee
    border: 1px solid var(--borda)
    min-height: 70px

    span
        margin: 0

    & > .fa
        @extend %centro
        color: var(--borda)
        border-right: 1px solid var(--borda)

.sede
    background-color: #c2d7e5
    --borda: #3998cf

.editar-ponto-coleta
    text-align: center
    height: 100%
    width: 100%
    border-left: 1px solid var(--borda)

    a
        @extend %centro
        height: 100%
        width: 60px
        color: var(--borda)

@media (max-width: 800px)
    main, #pontos-coleta
        display: flex
        flex-direction: column

    main
        padding: 0
        gap: 10px

        & > .box
            border-radius: 0
            border-width: 1px 0
    
    iframe
        height: 400px
    
    .botao, .controles > .botao
        width: 100%