body{
    
    margin:0;

}

header{
    height: 75px;
    width: auto;
    background-color: lightgray;
}

footer{
    background-color: rgb(245, 187, 187);
}

.container{

    max-width: 80vw;
    margin:0 auto;
    border:1px solid lightcyan;
    flex-direction: column;
}


.conteudo{
    margin: 5px;
    padding: 5px;
    background: lightblue;
    text-align: center;
    font-size: 16px;
    flex-direction: row;
    display: flex;
    gap:10px;
}

.flex-coluna{
    display:flex;
    flex-direction: column;
}

.flex-linha{
    display:flex;
}

#logoHeader{

    height: 80%;
    width: auto;

}

#logoFooter{

    max-width: 50px; 
    height: 50px;

}